<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест</title>
</head>
<body>
    <h1>Тест</h1>
    <form action="/submit" method="POST">
        <p>1. В каком году появился первый компьютер?</p>
        <input type="radio" id="1941" name="answer1" value="1941">
        <label for="1941">1941</label><br>
        <input type="radio" id="1990" name="answer1" value="1990">
        <label for="1990">1990</label><br>
        <input type="radio" id="1945" name="answer1" value="1945">
        <label for="1945">1945</label><br>

        <p>2. Цифровые технологии – это те, где информация «оцифровывается», то есть представляется в универсальном...</p>
        <input type="radio" id="digital" name="answer2" value="цифровом виде">
        <label for="digital">цифровом виде</label><br>
        <input type="radio" id="computer" name="answer2" value="компьютерном виде">
        <label for="computer">компьютерном виде</label><br>
        <input type="radio" id="paper" name="answer2" value="бумажном виде">
        <label for="paper">бумажном виде</label><br>

        <p>3. В каких сферах применяют цифровые технологии?</p>
        <input type="checkbox" id="business" name="answer3" value="бизнес">
        <label for="business">бизнес</label><br>
        <input type="checkbox" id="education" name="answer3" value="образование">
        <label for="education">образование</label><br>
        <input type="checkbox" id="medicine" name="answer3" value="медицина">
        <label for="medicine">медицина</label><br>
        <input type="checkbox" id="retail" name="answer3" value="ритейл">
        <label for="retail">ритейл</label><br>
        <input type="checkbox" id="Arts and entertainment" name="answer3" value="искусство и развлечения">
        <label for="Arts and entertainment">искусство и развлечения</label><br>
        <input type="checkbox" id="production" name="answer3" value="производство">
        <label for="production">производство</label><br>
        <input type="checkbox" id="catering" name="answer3" value="общепит">
        <label for="catering">общепит</label><br>

        <p>4. Что такое «Интернет вещей»?</p>
        <input type="text" id="answer4" name="answer4" size="50" maxlength="100">
        <br>

        <p>5. Какой из смартфонов совершил настоящую революцию?</p>
        <input type="radio" id="1" name="answer5" value="iphone">
        <label for="iphone">iphone</label><br>
        <input type="radio" id="xiaomi" name="answer5" value="xiaomi">
        <label for="xiaomi">xiaomi</label><br>
        <input type="radio" id="samsung" name="answer5" value="samsung">
        <label for="samsung">samsung</label><br>

        <p>6. В каком году зародился мобильный интернет?</p>
        <input type="radio" id="1991" name="answer6" value="1991">
        <label for="1991">1991</label><br>
        <input type="radio" id="1995" name="answer6" value="1995">
        <label for="1995">1995</label><br>
        <input type="radio" id="2000" name="answer6" value="2000">
        <label for="2000">2000</label><br>

        <p>7. Что подразумевают под «Искусственным интеллектом?</p>
        <textarea id="answer7" name="answer7" rows="4" cols="50"></textarea><br>
        
        <p>8. В каком веке появились первые прототипы роботизированных устройств?</p>
        <input type="radio" id="XIX" name="answer8" value="XIX">
        <label for="XIX">появились в XIX веке</label><br>
        <input type="radio" id="XX" name="answer8" value="XX">
        <label for="XX">появились в XX веке</label><br>
        <input type="radio" id="XXI" name="answer8" value="XXI">
        <label for="XXI">появились в XXI веке</label><br>

        <p>9. Блокчейн – это …</p>
        <input type="radio" id="blockchain1" name="answer9" value="blockchain1">
        <label for="blockchain1">это технология, при которой данные обо всех совершаемых транзакциях хранятся в единой системе в виде отдельных блоков и удостоверяются цифровой подписью, защищающей от взлома</label><br>
        <input type="radio" id="blockchain2" name="answer9" value="blockchain2">
        <label for="blockchain2">централизованная база данных, подтверждающая проведение сделки</label><br>
        <input type="radio" id="blockchain3" name="answer9" value="blockchain3">
        <label for="blockchain3">глобальная сеть с тысячами компьютеров</label><br>

        <p>10. Криптовалюта – это …</p>
        <input type="radio" id="cryptocurrency1" name="answer10" value="cryptocurrency1">
        <label for="cryptocurrency1">полностью цифровая валюта, созданная по технологии блокчейна, которая используется для виртуального обмена и платежей</label><br>
        <input type="radio" id="cryptocurrency2" name="answer10" value="cryptocurrency2">
        <label for="cryptocurrency2">это электронное платежное средство связанное с  физическим выражением формы</label><br>
        <input type="radio" id="cryptocurrency3" name="answer10" value="cryptocurrency3">
        <label for="cryptocurrency3">товар, способный выполнять денежную функцию средства обмена на международной арене</label><br>

        <p>11. Когда появились первые 3D – принтеры?</p>
        <input type="radio" id="1980" name="answer11" value="1980">
        <label for="1980">в конце 1980-х годов</label><br>
        <input type="radio" id="1990" name="answer11" value="1990">
        <label for="1990">в конце 1990-х годов</label><br>
        <input type="radio" id="2000" name="answer11" value="2000">
        <label for="2000">в начале 2000-х годов</label><br>

        <button type="submit">Отправить ответы</button>
    </form>
</body>
</html>
